<div class="center jumbotron">
  <h1>Welcome to the Sudoku App</h1>

  <h2>
  	Practice your sudoku puzzles here and then have them automatically solved if you cant figure them out. 
  </h2>

  <%= link_to "Sign up now!", signup_path, class: "btn btn-lg btn-primary" %>
</div>

<%= link_to image_tag("rails.png", alt: "Rails logo"),
            'http://rubyonrails.org/' %>
